body {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;

  margin-left: 20px;
}

.menu a {
  font-size: larger;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
